<import: src="./new">
<import: src="./view">
<import: src="./edit">

<Title:>
  Snippster

<Header:>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

<Body:>

  <strong>Snippets:</strong>
  {#each _snippets}
    <div>
      <div>Title:{.title}</div>
      <div>Description:</div>
      <div>{.description}</div>
      <div>source:</div>
      <div>{.source}</div>
    </div>
  {/}

  New Snippet:
  <form x-bind="submit: saveSnippet">
    Title:<br>
    <input value={_snippet.title}><br>
    Description:<br>
    <input value={_snippet.description}><br>
    Source:<br>
    <input value={_snippet.source}><br>
    <input id=add-button type=submit value=Save>
  </form>

