<Body:>
  <app:topbar>

  <div class="row">

      <!-- Login -->
      <div class="nine columns">

        <h3>Hello!</h3>
        <p>Nunc posuere quam nec lacus vehicula in blandit purus vestibulum. Donec non lorem a magna tincidunt vestibulum. Proin vitae diam nibh. Vivamus euismod, lectus quis vestibulum scelerisque, ante velit posuere elit, eu ultricies velit leo vitae massa.</p>

        <dl class="contained tabs">
          <dd class="active"><a href="#loginForm">Login</a></dd>
          <dd><a href="#registerForm">Register</a></dd>
          <dd><a href="#resetForm">Reset</a></dd>
        </dl>

        <ul class="tabs-content contained">
          <li id="loginFormTab" class="active">
            <snippster:login />
          </li>

          <li id="registerFormTab">
            <snippster:register />
          </li>

          <li id="resetFormTab">
            <snippster:reset />
          </li>

        </ul>

      </div>

      <!-- End Contact Details -->