<Body:>
  <app:topbar>

    <div class="row">

      <div class="nine columns" role="content">
        <fieldset>
          <legend>New Snippet</legend>

          <form id=snippet x-bind="submit: saveSnippet">
            <label>Title</label>
            <input type=text placeholder="Title" value={_snippet.title}>
            <label>Description</label>
            <textarea placeholder="Description of the snippet..">
              {_snippet.description}
            </textarea>

            <label>Source</label>
            <textarea placeholder="Snippet..">
              {_snippet.source}
            </textarea>
            <button class="radius button" id=add-button type=submit>Save</button>
          </form>

        </fieldset>
      </div>
    </div>